<ion-header>
	<ion-navbar>
		<ion-title>Add To Party</ion-title>
		<ion-buttons end>
			<button ion-button (click)="closeMe()">
				<ion-icon name="close-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<p>Add creatures, players or npcs to the party.</p>
	<ion-item>
		<h2>No creatures? Create some!</h2>
		<ion-buttons class="add-button">
			<button ion-button round icon-only type="button" (click)="addCreatureModal()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-item>
	<ion-item>
		<ion-searchbar [(ngModel)]="nameSearch"></ion-searchbar>
	</ion-item>
	<ion-item>
		<ion-label>Player or NPCs</ion-label>
		<ion-checkbox [(ngModel)]="isPlayer"></ion-checkbox>
	</ion-item>
	<ion-item>
		<ion-label>Monster</ion-label>
		<ion-checkbox [(ngModel)]="isMonster"></ion-checkbox>
	</ion-item>
	<ng-container *ngFor="let creature of creatures">
		<ion-item *ngIf="((creature.isPlayer && isPlayer) || (!creature.isPlayer && isMonster)) && (nameSearch == '' || creature.name.toLowerCase().includes(nameSearch.toLowerCase()))">
			<h2>
				<ion-icon *ngIf="!creature.isPlayer" name="paw"></ion-icon>
				<ion-icon *ngIf="creature.isPlayer" name="person"></ion-icon>
				{{creature.name}}
			</h2>
			<ion-buttons class="add-button">
				<span *ngIf="creaturesAdded[creature.id] !== undefined">{{ creaturesAdded[creature.id] }}</span>
				<button ion-button icon-only small type="button" (click)="removeCreature(creature)">
					<ion-icon name="remove"></ion-icon>
				</button>
				<button ion-button icon-only small type="button" (click)="addCreature(creature)">
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-buttons>
		</ion-item>
	</ng-container>

	<ion-buttons [class]="numberOfCreatures > 0 ? 'bottomFixed' : ''">
		<button ion-button round (click)="addThisCreatures()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-buttons>
</ion-content>