<ion-header>
	<ion-toolbar>
		<ion-title>
			Calculadora
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-button size="large">	7	</ion-button>
	<ion-button size="large">	8	</ion-button>
	<ion-button size="large">	9	</ion-button>
	<ion-button size="large">	÷	</ion-button><br>
	<ion-button size="large">	6	</ion-button>
	<ion-button size="large">	5	</ion-button>
	<ion-button size="large">	4	</ion-button>
	<ion-button size="large">	×	</ion-button><br>
	<ion-button size="large">	3	</ion-button>
	<ion-button size="large">	2	</ion-button>
	<ion-button size="large">	1	</ion-button>
	<ion-button size="large">	-	</ion-button><br>
	<ion-button size="large">	0	</ion-button>
	<ion-button size="large">	.	</ion-button>
	<ion-button size="large">	=	</ion-button>
	<ion-button size="large">	+	</ion-button>
</ion-content>