<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only (click)="dismissModal()">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
			<button ion-button icon-only (click)="trashThisCreature()">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="creature.id">{{ msg.title1 }} {{creature.name}}</ion-title>
		<ion-title *ngIf="!creature.id">{{ msg.title2 }}</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="creatureForm" (ngSubmit)="onAddCreature(creatureForm.value)">
		<ion-item style="display: none;">
			<ion-input type="hidden" formControlName="id" [(ngModel)]="creature.id"></ion-input>
		</ion-item>
        <ion-item>
          	<ion-label>{{msg.name}}</ion-label>
          	<ion-input type="text" formControlName="name" [(ngModel)]="creature.name" #nameInput></ion-input>
		</ion-item>
        <ion-item *ngIf="creatureForm.controls.name.hasError('required') && creatureForm.controls.name.touched">
			<p style="color: red;">{{ msg.nameErr }}</p>
		</ion-item>

		<ion-item>
			<ion-label>{{ msg.initiative }}</ion-label>
			<ion-input type="string" formControlName="initiative" [(ngModel)]="creature.initiative"></ion-input>
		</ion-item>
        <ion-item *ngIf="creatureForm.controls.initiative.hasError('pattern') && creatureForm.controls.initiative.touched">
			<p style="color: red;">{{ msg.diceExemple }}</p>
		</ion-item>
		<ion-item>
			<ion-label>{{ msg.hp }}</ion-label>
			<ion-input type="string" formControlName="hp" [(ngModel)]="creature.hp"></ion-input>
		</ion-item>
        <ion-item *ngIf="creatureForm.controls.hp.hasError('pattern') && creatureForm.controls.hp.touched">
			<p style="color: red;">{{ msg.diceExempl2 }}</p>
		</ion-item>
		<ion-item>
			<ion-label *ngIf="!creature.isPlayer">{{ msg.isMonster }}</ion-label>
			<ion-label *ngIf="creature.isPlayer">{{ msg.isPlayer }}</ion-label>
			<ion-toggle formControlName="isPlayer" [(ngModel)]="creature.isPlayer"></ion-toggle>
		</ion-item>
        <button ion-button block type="submit" [disabled]="!creatureForm.valid">{{ msg.saveCreature }}</button>
        <button ion-button block type="button" (click)="saveAndContinue(creature)" [disabled]="!creatureForm.valid">{{ msg.saveContinue }}</button>
    </form>
</ion-content>
