<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only (click)="dismissModal()">
				<ion-icon name="arrow-back"></ion-icon>
			</button>
			<button ion-button icon-only (click)="trashThisCreature()">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="creature.id">Editing {{creature.name}}</ion-title>
		<ion-title *ngIf="!creature.id">New Creature</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="creatureForm" (ngSubmit)="onAddCreature(creatureForm.value)">
		<ion-item style="display: none;">
			<ion-input type="hidden" formControlName="id" [(ngModel)]="creature.id"></ion-input>
		</ion-item>
        <ion-item>
          	<ion-label>Name</ion-label>
          	<ion-input type="text" formControlName="name" [(ngModel)]="creature.name" #nameInput></ion-input>
		</ion-item>
        <ion-item *ngIf="creatureForm.controls.name.hasError('required') && creatureForm.controls.name.touched">
			<p style="color: red;">Sorry, field name is required!</p>
		</ion-item>

		<ion-item>
			<ion-label>Initiative</ion-label>
			<ion-input type="string" formControlName="initiative" [(ngModel)]="creature.initiative"></ion-input>
		</ion-item>
        <ion-item *ngIf="creatureForm.controls.initiative.hasError('pattern') && creatureForm.controls.initiative.touched">
			<p style="color: red;">Ex: d20 + 4 or 2d10</p>
		</ion-item>
		<ion-item>
			<ion-label>HP</ion-label>
			<ion-input type="string" formControlName="hp" [(ngModel)]="creature.hp"></ion-input>
		</ion-item>
        <ion-item *ngIf="creatureForm.controls.hp.hasError('pattern') && creatureForm.controls.hp.touched">
			<p style="color: red;">Ex: 5d8 + 20 or 2d10 + 5d4 + 10</p>
		</ion-item>
		<ion-item>
			<ion-label *ngIf="!creature.isPlayer">This is a monster!</ion-label>
			<ion-label *ngIf="creature.isPlayer">This is a NPC/Player!</ion-label>
			<ion-toggle formControlName="isPlayer" [(ngModel)]="creature.isPlayer"></ion-toggle>
		</ion-item>
        <button ion-button block type="submit" [disabled]="!creatureForm.valid">Save Creature</button>
        <button ion-button block type="button" (click)="saveAndContinue(creature)" [disabled]="!creatureForm.valid">Save & Continue</button>
    </form>
</ion-content>
