page-home {
    .litteAdd{
        position: absolute;
        font-size: 0.5em;
        transform: translateX(50%);
    }
    .littlePeople{
        font-size: 0.7em;
        margin: 0 auto;
        padding: 0;
    }
    .littlePeopleAdd{
        transform: translateX(-5%);
    }
    .add-button{
        top: 50%;
        right: 0;
        position: absolute;
        transform: translate(0, -50%);
    }
}
