<ion-header>
	<ion-navbar>
		<ion-title>Add To Battle</ion-title>
		<ion-buttons end>
			<button ion-button large (click)="returnThisCreatures()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button large (click)="closeMe()">
				<ion-icon name="close-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<h4>Add creatures, players, npcs or parties to the battle.</h4>
	<ion-item>
		<h2>No creatures? Create some!</h2>
		<ion-buttons class="add-button">
			<button ion-button round icon-only type="button" (click)="addCreatureModal()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-buttons>
	</ion-item>
	<ion-item>
		<ion-label>Name</ion-label>
		<ion-input type="string" [(ngModel)]="nameSearch"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Player or NPCs</ion-label>
		<ion-checkbox [(ngModel)]="isPlayer"></ion-checkbox>
	</ion-item>
	<ion-item>
		<ion-label>Monster</ion-label>
		<ion-checkbox [(ngModel)]="isMonster"></ion-checkbox>
	</ion-item>
	<ion-item>
		<ion-label>Partys</ion-label>
		<ion-checkbox [(ngModel)]="isParty"></ion-checkbox>
	</ion-item>

	<ng-container *ngFor="let party of parties">
		<ion-item *ngIf="isParty && (nameSearch == '' || party.name.toLowerCase().includes(nameSearch.toLowerCase()))">
			<h2>
				<ion-icon name="people"></ion-icon>
				{{party.name}}
			</h2>
			<ion-buttons class="add-button">
				<span *ngIf="partiesId[party.id] !== undefined">{{ partiesId[party.id] }}</span>
				<button ion-button icon-only small type="button" (click)="removeParty(party)">
					<ion-icon name="remove"></ion-icon>
				</button>
				<button ion-button icon-only small type="button" (click)="addParty(party)">
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-buttons>
		</ion-item>
	</ng-container>

	<ng-container *ngFor="let creature of creatures">
		<ion-item *ngIf="((creature.isPlayer && isPlayer) || (!creature.isPlayer && isMonster)) && (nameSearch == '' || creature.name.toLowerCase().includes(nameSearch.toLowerCase()))">
			<h2>
				<ion-icon *ngIf="!creature.isPlayer" name="paw"></ion-icon>
				<ion-icon *ngIf="creature.isPlayer" name="person"></ion-icon>
				{{creature.name}}
			</h2>
			<ion-buttons class="add-button">
				<span *ngIf="creaturesId[creature.id] !== undefined">{{ creaturesId[creature.id] }}</span>
				<button ion-button icon-only small type="button" (click)="removeCreature(creature)">
					<ion-icon name="remove"></ion-icon>
				</button>
				<button ion-button icon-only small type="button" (click)="addCreature(creature)">
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-buttons>
		</ion-item>
	</ng-container>

	<ion-item>
		<ion-buttons>
			<button ion-button block (click)="returnThisCreatures()">
				Add this creatures!
			</button>
		</ion-buttons>
	</ion-item>
</ion-content>