<ion-header>
	<ion-navbar>
		<ion-title>Battle</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>add to battle modal</ion-item>
		<ion-item *ngFor="let creature of battleCreatures">
			<h2>
				<ion-icon *ngIf="!creature.isPlayer" name="paw"></ion-icon>
				<ion-icon *ngIf="creature.isPlayer" name="person"></ion-icon>
				{{creature.name}} {{creature.genHp}} {{creature.genInitiative}}
			</h2>
		</ion-item>

		<ion-item>
			<ion-buttons>
				<button ion-button block (click)="addCreature()">
					addCreature
				</button>
			</ion-buttons>
		</ion-item>
	</ion-list>
</ion-content>
