page-battle {
    .add-button, .eddit-button{
        top: 50%;
        right: 0;
        position: absolute;
        transform: translate(0, -50%);
    }
    .genBox{
        position: relative;
    }
}
