page-home {
    .litteAdd{
        font-size: 0.8em;
        position: absolute;
        transform: translateX(100%);
    }
    .littlePeople{
        transform: translateX(-20%);
    }
    .add-button{
        top: 50%;
        right: 0;
        position: absolute;
        transform: translate(0, -50%);
    }
}
