<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only type="button" (click)="addCreature()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only (click)="trashThisParty()">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title *ngIf="party.id">{{ msg.editing }} {{party.name}}</ion-title>
		<ion-title *ngIf="!party.id">{{ msg.newParty }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="partyForm" (ngSubmit)="onAddParty(partyForm.value)">
		<ion-item style="display: none;">
			<ion-input type="hidden" formControlName="id" [(ngModel)]="party.id"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>{{ msg.name }}</ion-label>
			<ion-input type="text" formControlName="name" [(ngModel)]="party.name"></ion-input>
		</ion-item>
		<ion-item *ngIf="partyForm.controls.name.hasError('required') && partyForm.controls.name.touched">
			<p style="color: red;">{{ msg.nameErr }}</p>
		</ion-item>

		<ng-container *ngFor="let creature of creatures">
			<ion-item *ngIf="creature">
				<h2>{{creature.name}}</h2>
				<ion-buttons class="eddit-button">
					<button ion-button icon-only small type="button" (click)="trashCreature(creature)">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-buttons>
			</ion-item>
		</ng-container>
		<button ion-button block type="submit" [disabled]="!partyForm.valid">{{ msg.saveParty }}</button>
	</form>
</ion-content>