page-battle {
    .add-button, .eddit-button{
        top: 50%;
        right: 0;
        position: absolute;
        transform: translate(0, -50%);
    }
    .genBox{
        position: relative;
    }
    .personalInput{
        width: 42px;
        border: none;
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
    .personalInputSpan{
        display: inline-block;
        border-bottom: solid 0.5px #9e9e9e;
        transition: border-bottom .1s linear;
        margin-bottom: 1px; 
    }
    .blueBorder{
        border-bottom: solid 0.5px #488aff;
        box-shadow: 0 1px 0 0 #488aff;
    }
}
