<ion-header>
	<ion-navbar>
		<ion-buttons end>
			<button ion-button icon-only (click)="addCreature()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title> {{ msg.title }} </ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<h2>
				{{ msg.baseDmgMsg }}
				<span style="font-weight: bold;" ng-bind="multiplier">{{ multiplier }}</span>
			</h2>
			<ion-buttons class="add-button">
				<button ion-button small (click)="presentNumberPopover($event)">
					<ion-icon name="arrow-down"></ion-icon>
				</button>
			</ion-buttons>
		</ion-item>
		<ion-item *ngFor="let creature of battleCreatures">
			<h2 style="font-weight: bold;">
				<ion-icon *ngIf="!creature.isPlayer" name="paw"></ion-icon>
				<ion-icon *ngIf="creature.isPlayer" name="person"></ion-icon>
				{{creature.name}}
				<span *ngIf="numberOrder[creature.id] > 1">{{ creature.numberOrder }}</span>
			</h2>
			<div>
				<div class="genBox">
					<span ion-text [color]="creature.colorSpan">
						{{ msg.hpDoubleDot }}
						<span contenteditable="true">{{ creature.genHp }}</span>
					</span>
					<span>/{{ creature.maxHp }}</span>
					
					<ion-buttons class="add-button">
						<button [disabled]="creature.genHp > 0" ion-button icon-only small color="dark" type="button" (click)="delCreature(creature)">
							<ion-icon name="trash"></ion-icon>
						</button>
						<button ion-button icon-only small color="danger" type="button" (click)="damageHp(creature)">
							<ion-icon name="remove"></ion-icon>
						</button>
						<button ion-button icon-only small color="secondary" type="button" (click)="healHp(creature)">
							<ion-icon name="add"></ion-icon>
						</button>
					</ion-buttons>
				</div>
				<div class="genBox">
					{{ msg.initiativeDoubleDot }}
					<div class="personalInputSpan">
						<input type="number" class="personalInput" value="{{creature.genInitiative}}"
						onfocus="this.parentNode.classList.add('blueBorder')"
						onblur="this.parentNode.classList.remove('blueBorder')"
						(blur)="changeInitiative(creature, $event.target.value);">
					</div>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
